
  .topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: gray solid 1px;
    margin: 0 0 0 5px;
  
    .line {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }
  
    .searchbar {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      left: 50%;
      transform: translate(-50%);
      gap: 10px;
    }
  }