@use '_topbar.scss';
@use '_leftbar.scss';
@use '_rightbar.scss';
@use '_center.scss';

body {
  color: black;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


i {
  color: gray;
}




  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 7000;
  }
