body {
    color: black;
  }
  
  .topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: gray;
  
    .menu2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
  }
  
  i {
    color: black;
  }
  
  .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .searchbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    gap: 10px;
  }
  
  .badge {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: gray;
  
    img {
      height: 150px;
      width: 150px;
    }
  }
  
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
  
    .top-center {
        display: flex;
        justify-content: center;
        gap: 10px;
        border: solid 1px gray;
    }
    .middle-center {
        background-color: lightgray;
        .sports {
            display:flex;
            align-items: center;
        }
            .volleyball, .tennis, .soccer {
                border:solid 1px gray;
                flex-grow:1;
                width: 100%; // Ensure items take full width (optional)
                display: flex;
                flex-direction: column; // Ensure contents are stacked within each sport item
                justify-content: center; // Vertically center the contents within each item
                align-items: center; // Center content horizontally within each item
                border: solid 1px gray;
                padding: 0 0 15px 0;
            }
            
                .row1{
                    display:flex;
                    align-items: center;
                    gap:3px;
                    .green {
                        background-color:green;
                        color:white;
                    }
                }
                .row2{
                    display:flex;
                    align-items: center;
                }
                h5 {
                    margin:0;
                }
    }
}
  
  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 7000;
  }


