body {
    color:black;
}

 .topbar {
    display:flex;
    flex-direction:row;
    align-items:center;
} 

.menu {
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    color:gray;
}

.menu2 {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    gap:10px;
}

i {
    color:black;
}

.line {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:10px;
}

.searchbar {
    position:absolute;
    display:flex; 
    flex-direction:row;
    align-items:center;
    justify-content:center;
    left:50%;
    transform: translate(-50%);
    gap:10px;
}

.badge {
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    background-color:gray;
}

.badge img {
    height:150px;
    width:150px;
}

.bottom {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}