body {
    color:black;
}

.topbar {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:200px;
}

.menu {
    display:flex;
    flex-direction:column;
    gap:10px;
    color:gray;
}
